<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="default" connectionString="Data Source=TINA-BOOK\;Initial Catalog=Sweet0125;User ID=PublicConn;Password=WTkfyxDAgN01" providerName="System.Data.SqlClient" />
    <add name="iSpanDessertShop2023JanEntities" connectionString="metadata=res://*/EF_model.iSpanDessertShop2023JanModel.csdl|res://*/EF_model.iSpanDessertShop2023JanModel.ssdl|res://*/EF_model.iSpanDessertShop2023JanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ispan-project-server.database.windows.net;initial catalog=iSpan.DessertShop2023Jan;persist security info=True;user id=PublicConn;Password=WTkfyxDAgN01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DessertShopCodeFirstModel" connectionString="data source=ispan-project-server.database.windows.net;initial catalog=iSpan.DessertShop2023Jan;persist security info=True;user id=PublicConn;password=WTkfyxDAgN01;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />  
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>